@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0f0e;
}

@font-face {
  font-family: "robobold";
  src: url(./fonts//robobold.ttf);

}

@font-face {
  font-family: 'robolight';
  src: url(./fonts//robolightt.ttf);
}

body {
  @apply bg-gradient-to-b dark:from-[#0e0f0e] dark:via-[#1e2916] dark:to-[#161616] from-[#f4f4f4] via-[#d7e8cc] to-[#eaeaea] h-screen font-[robobold]
}

.container {
  @apply w-full max-w-[1240px] mx-auto px-4;
  @apply sm:px-6 lg:px-8;
}