@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0f0e;
}

@font-face {
  font-family: "robobold";
  src: url(./fonts//robobold.ttf);

}

@font-face {
  font-family: 'robolight';
  src: url(./fonts//robolightt.ttf);
}

.robo-light {
  font-family: robolight;
}

body {
  @apply min-h-screen bg-gradient-to-b  from-[#0e0f0e] via-[#1e2916] to-[#161616] font-[robobold];
}

.container {
  @apply w-full max-w-[440] mx-auto px-5;
  @apply sm:px-6 lg:px-8;
}

nextjs-portal {
  display: none !important;
}